<div class="navbar bg-base-100 h-20">
  <div class="navbar-start">
  </div>
  <div data-turbo="false">
    <div class="navbar-center">
      <%= link_to root_path, class:"btn btn-ghost normal-case" do %>
        <%= image_tag "header-logo.png", size: "160x400"%>
      <% end %>
    </div>
  </div>
  <div class="navbar-end mr-5">
    <% if logged_in? %>
      <p class="mr-3 hidden sm:inline"><%= current_user.nickname %></p>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar border-2">
          <div class="w-20 rounded-full">
            <%= image_tag "default_user_icon.jpg"%>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow neutral rounded-box w-52 text-primary">
          <div data-turbo="false">
            <li>
              <%= link_to "マイページ", user_path(current_user.id), class:"justify-between", class:"btn"%>
            </li>
          </div>
          <li>
            <%= link_to "ランキング", ranks_path, class:"justify-between", class:"btn mt-3" %>
          </li>
          <li>
            <%= link_to "ログアウト", sign_out_path, data:{ turbo_method: :delete }, class:"btn btn-accent mt-3" %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= button_to "GitHub ログイン", "/auth/github", data: { turbo: false }, class:"btn mr-5 normal-case" %>
    <% end %>
  </div>
</div>