<div class="navbar bg-base-100 h-20">
  <div class="navbar-start">
    <%= link_to root_path, class:"normal-case w-40 md:w-52 md:hidden" do %>
      <%= image_tag "header-logo.png" %>
    <% end %>
  </div>
  <div data-turbo="false">
    <div class="navbar-center mx-auto">
      <%= link_to root_path, class:"normal-case w-40 hidden md:w-52 md:block" do %>
        <%= image_tag "header-logo.png" %>
      <% end %>
    </div>
  </div>
  <div class="navbar-end flex items-center mr-5">
    <%= link_to "使い方", help_path, class:"btn btn-secondary font-bold mr-3"%>
    <% if logged_in? %>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-secondary">
          <p class="mr-3 hidden font-bold normal-case overflow-hidden sm:inline"><%= current_user.nickname %></p>
          <div class="avatar">
            <div class="w-10 rounded-full">
              <%= image_tag "default_user_icon.jpg" %>
            </div>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow neutral rounded-box w-52 text-primary bg-base-300">
          <div data-turbo="false">
            <li>
              <%= link_to "マイページ", user_path(current_user.id), class:"justify-between", class:"btn"%>
            </li>
          </div>
          <li>
            <%= link_to "ランキング", ranks_path, class:"justify-between", class:"btn mt-3" %>
          </li>
          <li>
            <%= link_to "ログアウト", sign_out_path, data:{ turbo_method: :delete }, class:"btn btn-accent mt-3" %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= button_to "GitHub ログイン", "/auth/github", data: { turbo: false }, class:"btn mr-5 normal-case" %>
    <% end %>
  </div>
</div>