<div class="container">
  <%# <div id="loading">
    <div id="loader">
      <p class="text-2xl">草刈中...</p>
      <progress class="progress" value="0" max="100"></progress>
    </div>
  </div> %>
  <div id="main-container" class="w-full h-full">
    <div class="p-8">
      <div class="block text-left p-10">
        <p class="text-2xl">あなたが積み上げた草は・・・</p>
        <p class="text-3xl"><%= @contribution.mountain.name %>(<%= @contribution.mountain.prefecture %>)級</p>
        <p class="text-3xl"><%= @contribution.mountain.elevation %>m 超えです</p>
      </div>
      <div id="map"></div>
      <div class="flex flex-col my-4 w-60 mx-auto">
        <%= link_to 'みんなの山を見に行く', contributions_path, class:"grid h-10 bg-base-300 rounded-box place-items-center"%>
        <div class="divider">OR</div>
        <%= link_to 'ツイートする', '#', class:"grid h-10 bg-base-300 rounded-box place-items-center"%>
      </div>
    </div>
  </div>
</div>

<style>
  #map {
      margin: 0 auto;
      height: 300px;
      width: 80%;
      border-radius: 8px;
    }
</style>

<script>
  // const loading = document.getElementById('loading');
  // const mainContainer = document.getElementById('main-container');

  // mainContainer.style.display ="none";

  // setTimeout(()=>{
  //     loading.style.display = "none";
  //     mainContainer.style.display = "block";
  //   }, 3000);
  const mountain = gon.mountain;
  const markerposition = {
        lat: mountain['latitude'],
        lng: mountain['longitude'], 
      }


  function initMap(){
    const map = new google.maps.Map(document.getElementById("map"), {
      streetViewControl: false,
      mapTypeControl: false,
      fullscreenControl: false,
      center: markerposition,
      zoom: 12,
    });

    const mountainMarker = new google.maps.Marker({
      position: markerposition,
      map,
    });
  }

  window.initMap = initMap;
</script>
<script async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>